<section class="product-section">
    <h2><%= title %></h2>
    <div class="product-grid <%= sectionClass %>">
      <% products.forEach(product => { %>
        
          <div class="product-card">
            <a href="/products/<%= product.id %>"><img src="<%= product.image %>" alt="<%= product.name %>" class="product-img"></a>
            <h3><%= product.name %></h3>
          </div>
      <% }) %>
    </div>
  </section>