<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: '3D Print Store' }) %>
<body>
  <%- include('partials/header') %>

  <%- include('partials/product-grid', { title: 'Latest 3D Prints', products: latest, sectionClass: 'latest' }) %>
  <%- include('partials/product-grid', { title: 'Popular 3D Prints', products: popular, sectionClass: 'popular' }) %>
  <%- include('partials/product-grid', { title: 'Daily Discounts', products: discounts, sectionClass: 'discounts' }) %>

  <%- include('partials/footer') %>
</body>
</html>